
<html>
  <head>
    <title>Modifier un potin</title>
  </head>
  <body>
    <h1>Modifier un potin !</h1>
    <p>Réécris un potin grâce au formulaire ci-dessous</p>
    <form action='/gossips/:id/edit' method='POST'>
     Fais-toi plaisir :  <input type='text' name='new_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
