

<html>
  <head>
    <title>Page potin</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
		<p>Voici la page potin numéro : <%= params['id'] %></p>
        <p>Son auteur : <%= Gossip.find_gossip(params['id'].to_i).author  %></p>
        <p>Son contenu : <%= Gossip.find_gossip(params['id'].to_i).content  %></p>
  </body>
</html>


