

<html>
  <head>
    <title>Page potin</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
		<p>Voici la page potin numéro : <%= nb %></p>
        <p>Son auteur : <%= Gossip.find_gossip(nb).author  %></p>
        <p>Son contenu : <%= Gossip.find_gossip(nb).content  %></p>
			<a href ="http://localhost:4567/">Retour vers la page d'accueil</a>
  </body>
</html>


